@model JobTrackerV2.ViewModels.HomeDetailsViewModel

<html>
<head>
    <title></title>
</head>
<body>
    <h3>@Model.PageTitle</h3>

    <div>
        Name: @Model.Student.Name
    </div>
    <div>
        Email: @Model.Student.Email
    </div>
    <div>
        Course: @Model.Student.Course
    </div>
</body>
</html>